@use '../abstracts' as *;

.hero {
  background-color: $bg-grey;
  padding-top: $spacing-lg;

  .wrapper {
    @include flex-between;

    @media (max-width: $breakpoint-md) {
      flex-direction: column-reverse;
      gap: 2rem;
    }
  }

  &__content {
    max-width: 45%;
    padding-bottom: 5rem;

    @media (max-width: $breakpoint-md) {
      max-width: 70%;
      padding-bottom: 8rem;
    }

    &__consultant-area {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      max-width: 76%;

      @media (max-width: 1316px) {
        max-width: 100%;
      }

      @media (max-width: $breakpoint-sm) {
        grid-template-columns: repeat(2, 1fr);

        li {
          margin-left: $spacing-lg;
          list-style-type: disc;

          &::marker {
            border-radius: 10px;
            font-size: 15px;
            color: $light-orange;
          }

          &::after {
            background-color: $bg-grey !important;
          }
        }
      }
    }

    h4::before {
      content: "";
      width: 59px;
      height: 4px;
      background-color: #febb0c;
      position: absolute;
      left: 0;
      top: 11px;
    }

    p {
      padding: $spacing-xl 0;
    }

    .button {
      margin-bottom: 1.5 * $spacing-xxl;
    }

    li {
      font-size: 1.1rem;
      color: $dark-grey;

      &:nth-child(3)::after,
      &:nth-child(6)::after {
        background-color: $bg-grey;
      }

      &::after {
        content: "";
        display: inline-block;
        height: 8px;
        width: 8px;
        background-color: $light-orange;
        font-size: 1.5rem;
        border-radius: 50%;
        margin-left: 2rem;

        @media (max-width: 1316px) {
          margin-left: $spacing-xl;
        }
      }

      &:nth-child(4)::after {
        margin-left: 2.6rem;
      }


    }
  }

  .img-wrapper {
    img {
      max-width: 100%;
      object-fit: contain;
      display: block;
      height: auto;
    }
  }
}

.highlight__wrapper {
  position: relative;
}

.highlight-area {
  display: grid;
  position: absolute;
  gap: $spacing-xl;
  right: 8%;
  left: 9%;
  top: 20%;
  transform: translateY(-28%);
  grid-template-columns: repeat(4, 1fr);

  .highlight-cards {
    background-color: $white;
    padding: $spacing-xl;
    box-shadow: 0 4px 20px 5px rgb(0 0 0 / 11%);
    transition: background-color 0.3s ease-in;

    p {
      padding: $spacing-xl 0;
      border-bottom: 4px solid $light-orange;
      line-height: 1.4;
      font-size: 1rem;
      text-align: left;
    }

    h3 {
      transition: 0.3s ease-in;
    }

    &:hover {
      background-color: $dark-green;

      h3 {
        color: $light-orange;
      }

      p {
        color: $white;
      }
    }
  }

  @media (max-width: $breakpoint-md) {
    grid-template-columns: repeat(2, 1fr);
    transform: translateY(-10%);
  }

  @media (max-width: $breakpoint-xs) {
    grid-template-columns: repeat(1, 1fr);
  }
}