//colors
$light-orange: #febb0c;
$dark-green: #007a82;
$black: #3d3d3d;
$dark-grey: #666666;
$bg-grey: #ededed;
$white: #ffffff;

//Breakpoints
$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 991px;
$breakpoint-lg: 1200px;
$breakpoint-xxl: 1400px;

//Spacing
$spacing-sm: 0.25rem;
$spacing-md: 0.5rem;
$spacing-lg: 1rem;
$spacing-xl: 1.5rem;
$spacing-xxl: 2rem; 

//Fonts
$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;
